<div *ngIf="!room().isClose ; else other">
    <app-background [url]="'/'" (disconnectPlayer)="disconnect()">
        <div class="space-y-10">     
            <div class="">
                <div class="flex gap-2 justify-center items-center border-b">
                    <p class="text-white text-md">Invite link:</p>
                    <p class="text-white text-md">{{shortUrl}}</p>
                    <button (click)="copyUrl()" class="cursor-pointer">
                        <mat-icon fontIcon="content_copy"></mat-icon>
                    </button>
                </div>
            </div>
            <!--<div class="flex flex-col items-center gap-4">
                <div>
                    <h2 class="text-3xl text-white">Change mode</h2>
                </div>
                <div>
                    <div class="grid grid-cols-3 gap-4">
                        <button mat-flat-button>Footballers</button>
                        <button mat-flat-button>Streamers</button>
                        <button mat-flat-button>Football badge</button>
                    </div>
                </div>
            </div>-->
            <div *ngIf="room()" class="flex flex-col gap-4">
                <div>
                    <h2 class="text-3xl text-white">Players</h2>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="border rounded-sm" *ngFor="let player of room().players">
                        <mat-card class="flex justify-center" appearance="outlined">
                            <mat-card-header class="flex justify-center">
                                <mat-card-title>
                                    <p class="text-black">
                                        {{player.username}}
                                    </p>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <img
                                    src="https://api.dicebear.com/9.x/pixel-art/svg?seed={{player.img}}"
                                    alt="avatar"
                                />
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="flex justify-center gap-4 my-10">
                <div class="">
                    <button mat-flat-button class="border rounded-sm cursor-pointer p-3" (click)="startGame()" [disabled]="!canStartGame()">Start Game</button>
                </div>
                <div class="">
                    <button mat-flat-button class="border rounded-sm cursor-pointer p-3" (click)="closeRoom()" [disabled]="!canCloseRoom()">Close Room</button>
                </div>
            </div>
            <app-pop-up [isOpen]="room().popUp" [title]="titleChange()" [titleStyle]="titleStyle()" (closePopUp)="closePopUp()">
                <div class="flex flex-col gap-4">
                    <div class="flex gap-1 items-center">
                        <p class="text-lg text-black">Starts:</p>
                        <p class="text-lg text-black underline">{{room().startPlayer}}</p>
                    </div>
                    <div class="flex justify-center">
                        <button mat-flat-button class="border rounded-sm cursor-pointer p-3" (click)="stopGame()" [disabled]="!canStopGame()">Stop Game</button>
                    </div>
                </div>
            </app-pop-up>
        </div>
    </app-background>
</div>
<ng-template #other>
    <app-background [url]="'/'">
        <div class="">
            <h1 class="text-5xl">The room has been closed</h1>
        </div>
    </app-background>
</ng-template>