<div>
    <div class="flex flex-col gap-2">
        <p>Invite link:</p>
    </div>
</div>
<div *ngIf="room()">
    <div class="grid grid-cols-2 gap-4 m-10">
        <div class="border rounded-sm" *ngFor="let player of room().players">
            <div class="flex justify-center">
                {{player.username}}
            </div>
        </div>
    </div>
</div>
<p>{{room().state}}</p>
<div class="flex justify-center gap-4 m-10">
    <div class="">
        <button class="border rounded-sm cursor-pointer p-3" (click)="startGame()" [disabled]="!canStartGame()">Start Game</button>
    </div>
    <div class="">
        <button class="border rounded-sm cursor-pointer p-3" (click)="stopGame()" [disabled]="!canStopGame()">Stop Game</button>
    </div>
</div>
<div *ngIf="isInGame()">
    <p>Esta en juego</p>
    <div *ngIf="impostor() ; else other">
        <p>Sos impostor</p>
    </div>
    <ng-template #other>
        <div class="">
            <p>{{room().footballer}}</p>
        </div>
    </ng-template>
</div>